bud-error {
  pointer-events: none;
}

html {
  background-color: $footer_background_color;
}

body {
  background-color: $body_background_color;
}

img {
  height: auto;
  max-width: 100%;
}

.cc-home-section {
  padding-top: max(min(calc((70 / 1800) * 100vw), 70px), 20px);
  padding-bottom: max(min(calc((70 / 1800) * 100vw), 70px), 20px);
}

body.home main {
  padding-bottom: max(min(calc((70 / 1800) * 100vw), 70px), 20px);
}
