.post-template-default.single-post {
  main.main {
    padding-top: max(min(calc((50 / 1800) * 100vw), 50px), 20px);
    padding-bottom: max(min(calc((100 / 1800) * 100vw), 100px), 20px);
  }

  .post-header {
    margin-bottom: max(min(calc((30 / 992) * 100vw), 30px), 20px);
  }
}

body.post-index {
  .cc-post-index-archive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: max(min(calc((66 / 1800) * 100vw), 66px), 20px);
    row-gap: max(min(calc((85 / 1800) * 100vw), 85px), 20px);

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .entry-wrap {
    max-width: 531px;

    header {
      margin-bottom: max(min(calc((30 / 1800) * 100vw), 30px), 20px);
    }
  }

  .entry-image {
    margin-bottom: 10px;
    img {
      aspect-ratio: 531/356;
      object-fit: cover;
      object-position: center;
    }
  }

  .entry-title {
    margin-bottom: 10px;
  }

  .entry-excerpt-link {
    display: block;
    text-align: center;
  }
}
