.post-template-default.single-post {
  article.post {
    padding-top: max(min(calc((50 / 1800) * 100vw), 50px), 20px);
    padding-bottom: max(min(calc((100 / 1800) * 100vw), 100px), 20px);
  }

  .cc-hero {
    margin-bottom: 20px;
  }

  .post-header {
    margin-bottom: max(min(calc((30 / 992) * 100vw), 30px), 20px);
  }
}
