//* === START COLOR VARIABLES === *//
$color_alizarin_crimson: #ec1f25;
$color_alto: #d8d8d8;
$color_bay_of_many: #28398e;
$color_black: #000;
$color_gray_suit: #d5d1d7;
$color_jagger: #4a0d66;
$color_jagger_light: lighten($color_jagger, 20%);
$color_limed_spruce: #333e48;
$color_manatee: #8f8f99;
$color_mine_shaft: #323232;
$color_spring_wood: #fdfcfb;
$color_white: #fff;
//! === END COLOR VARIABLES === !//

//* === START FONT VARIABLES === *//
$heading_font: "Bebas Neue", sans-serif;
$body_font: "Proxima Nova", "Nunito Sans", sans-serif;
//! === END FONT VARIABLES === !//

$body_background_color: $color_white;
$footer_background_color: $color_limed_spruce;
