.cc-video-text {
  &__container {
    display: flex;
    max-width: 1460px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__video-block {
    align-items: stretch;
    flex: 1 1 calc((768 / 1429) * 100%);
    justify-content: stretch;
    display: flex;

    @media (min-width: 768px) and (max-width: 991px) {
      flex-basis: calc((1 / 3) * 100%);
    }

    @media (max-width: 767px) {
      flex-basis: 100%;
      order: 2;

      aspect-ratio: 16 / 9;
    }
  }

  &__video-link {
    position: relative;
    align-items: stretch;
    justify-content: stretch;
    display: flex;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      &:after {
        color: $color_jagger;
      }
    }

    &:after {
      @include font-size(175px);

      position: absolute;
      top: 50%;
      right: 50%;
      align-items: center;
      justify-content: center;
      color: $color_alizarin_crimson;
      content: "\f144";
      font: var(--fa-font-solid);
      transform: translateY(-50%) translateX(50%);
      transition: 200ms all ease-in-out;
      pointer-events: none;
    }

    &:before {
      @include font-size(175px);

      position: absolute;
      top: 50%;
      right: 50%;
      align-items: center;
      justify-content: center;
      width: 0.9em;
      height: 0.9em;
      content: "";
      background-color: $color_spring_wood;
      border-radius: 100%;
      transform: translateY(-50%) translateX(50%);
      pointer-events: none;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text-block {
    align-items: center;
    flex: 1 1 calc((661 / 1429) * 100%);
    justify-content: flex-end;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    @media (min-width: 768px) and (max-width: 991px) {
      flex-basis: calc((2 / 3) * 100%);
    }

    @media (max-width: 767px) {
      flex-basis: 100%;
    }
  }

  &__text-wrap {
    order: 1;
    max-width: 540px;
  }
}
