.cc-home-signup {
  &__container {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: max(min(calc((170 / 1800) * 100vw), 170px), 20px);
    padding-top: max(min(calc((170 / 1800) * 100vw), 170px), 20px);
    background-blend-mode: overlay;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    &:after {
      background-color: $color_limed_spruce;
      content: "";
      opacity: 0.9;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    text-align: center;
  }
}
