.cc-learn-image-text-two {
  padding: max(min(calc((50 / 1800) * 100vw), 50px), 10px) 0;

  &__container {
    max-width: 1274px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      align-items: stretch;
    }
  }

  &__image {
    flex-basis: calc((388 / 1274) * 100%);
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 20px;
    }

    img {
      object-fit: cover;
      object-position: center;

      @media (max-width: 767px) {
        aspect-ratio: 2/1;
      }
    }
  }

  &__text {
    flex-basis: calc((886 / 1274) * 100%);

    @media (max-width: 767px) {
      flex-basis: 100%;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 15px;
    }
  }

  &__text-wrap {
    max-width: 785px;
  }

  &__heading {
    margin-bottom: calc((20 / 55) * 1em);
  }

  &__content {
    strong,
    b {
      color: $color_california;
    }
  }
}
